<!-- Template inheritance Jinja -->
{% extends "layout.html" %}

{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut a non nulla, iste qui quo error voluptatibus eaque voluptas consequatur dolorum, fuga soluta, eveniet nisi possimus nostrum perferendis? Aliquid, eos.</p>
<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio ullam voluptate magnam odio aliquam sapiente illum deserunt accusamus consequuntur fuga! Dignissimos cum obcaecati tempora sit. Iure magni dicta iusto consequuntur.</h1>
{% endblock content %}